.fourth-section{
  background-color: var(--light-red);
}
.amazing-template{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 120px
}

.amazing-template h2{
  color: var(--blue);
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.amazing-template p{
  color: rgb(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  width: 55vw;
}