.amazing-title{
  align-items: center;
  background-color: var(--light-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 120px;
}

.amazing-title__subject{
  color: var(--blue);
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.amazing-title__text{
  color: rgb(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  width: 40vw;
}