:root{
  --green: #9FBC2E;
  --blue: #0C171E;
  --white: #FFFFFF;
  --light-red:#F8F8F8;
  --yellow: #F5BC3B;
  --red-mandy: #ED5758;
  --blue-viking: #5EB1CF;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', 'Roboto', sans-serif;
}