.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--blue);
}
.header-nav{
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 120px 0 120px;
  width: 1520px;
}
.header-nav__link{
  cursor:pointer;
  text-decoration: none;
}

.header-nav__name-company{
  font-weight: 100;
}

.header-nav__name-company, strong{
  color: var(--white);
  font-family: 'Cairo';
  font-size: 50px;
}

.header-nav-menu{
  color: var(--white);
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.header-nav-menu__link{
  align-items: center;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-family: 'Cairo';
  gap: 5px;  
  justify-content: space-between;
  text-decoration: none;
}

.header-nav-menu__counter{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  color: var(--white);
  text-align: center;
  width: 30px;
}

.header-title {
  align-items: center;
  background:var(--green);
  display: flex;
  height: 500px;
  justify-content: center;
}

.header-title__text{
  color: var(--white);
  font-family: 'Cairo';
  font-size: 60px;
  font-weight: 100;
}

.header-carousel{
  background-color: var(--light-red);
  border: none;
}

.header-carousel__title{
  color: var(--blue);
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 500;
  padding: 15px 0 15px 0;
  text-align: center;
}

.header-carousel__dots{
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 10px;
}

.header-carousel__dot{
  background-color: lightgray;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 10px;
  width: 10px;
}

.header-carousel__dot--active{
  background-color: grey;
}