.header{
  align-items: center;
  background-color: var(--blue);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 120px 0 120px;
}
.header__link{
  cursor:pointer;
  text-decoration: none;
}

.header__name-company{
  font-weight: 100;
}

.header__name-company, strong{
  color: var(--white);
  font-family: 'Cairo';
  font-size: 50px;
}

.header-menu{
  display: flex;
  color: var(--white);
  justify-content: space-between;
  width: 400px;
}

.header-menu__link{
  align-items: center;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-family: 'Cairo';
  gap: 5px;  
  justify-content: space-between;
  text-decoration: none;
}

.header-menu__counter{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  color: var(--white);
  text-align: center;
  width: 30px;
}

.header-title {
  align-items: center;
  background:var(--green);
  display: flex;
  height: 500px;
  justify-content: center;
}

.header-title__text{
  font-family: 'Cairo';
  color: var(--white);
  font-size: 60px;
  font-weight: 100;
}