
.amazing-carousel{
  background-color: var(--light-red);
  border: none;
}

.amazing-carousel h2{
  padding: 15px 0 15px 0;
  font-family: 'Roboto';
  text-align: center;
  padding: 15px;
  color: var(--blue);
  font-size: 26px;
  font-weight: 500;
}

.carousel-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.dot{
  background-color: lightgray;
  margin-right: 5px;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.dot:last-child{
  margin-right: 0;
}

.dot.active{
  background-color: grey;
}
.infos-empresa{
  display: flex;
  padding: 50px 120px 70px 70px;
}

.infos-empresa article{
  margin-right: 20px;
}

.infos-empresa article:last-child{
  margin-right: 0;
}

.descricao{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.descricao img{
  height: 30px;
  margin-bottom: 10px;
}

.descricao h2, p{
  text-align: center;
  font-family: 'Roboto';
}

.descricao h2{
  color: var(--blue);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 25px;
}

.descricao p{
  color: rgb(0, 0, 0, 0.5);
  font-size: 14px;
}

.second-section{
  background-color: var(--light-red);
}

.amazing-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 120px;
}

.amazing-title h2{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: var(--blue);
  margin-bottom: 10px;
}

.amazing-title p{
  width: 40vw;
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0, 0.5);
  font-size: 14px;
}